<!-- header starts -->
<header class="header-box" >
    <div class="container">
      <div class="header-inner">
        <div class="header-col header-left">
          <!-- hamburger mobile menu -->
          <button class="hamburger-menu" id="jsHamburgerBtn">
            <div class="top-bar menu-bar"></div>
            <div class="middle-bar menu-bar"></div>
            <div class="bottom-bar menu-bar"></div>
          </button>
          <!-- hamburger mobile menu -->
          <div class="brand-logo">
            <a href="javascript:;">
              <img src="assets/images/logo.svg" alt="" />
            </a>
          </div>
          <div class="channel-wrap close-on-outside">
            <button class="btn btn-toggle jsChannelToggle">Channel Finance</button>
            <div class="channel-outer-wrap d-none jsChannelList">
              <div class="channel-inner">
                <ul class="channel-list jsFinancesList">
                  <li class="list">
                    <label class="custom-radiobox-label">
                      <span class="custom-radio">
                        <input type="radio" name="radio1">
                        <span class="radiobox-check"></span>
                      </span>
                      Channel finance
                    </label>
                  </li>
                  <li class="list">
                    <label class="custom-radiobox-label">
                      <span class="custom-radio">
                        <input type="radio" name="radio1">
                        <span class="radiobox-check"></span>
                      </span>
                      Construction finance
                    </label>
                  </li>
                  <li class="list">
                    <label class="custom-radiobox-label">
                      <span class="custom-radio">
                        <input type="radio" name="radio1">
                        <span class="radiobox-check"></span>
                      </span>
                      Equipment finance
                    </label>
                  </li>
                  <li class="list">
                    <label class="custom-radiobox-label">
                      <span class="custom-radio">
                        <input type="radio" name="radio1">
                        <span class="radiobox-check"></span>
                      </span>
                      Construction finance
                    </label>
                  </li>
                  <li class="list">
                    <label class="custom-radiobox-label">
                      <span class="custom-radio">
                        <input type="radio" name="radio1">
                        <span class="radiobox-check"></span>
                      </span>
                      Channel finance
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="header-col header-right">
          <ul class="profile-list-wrap">
            <li>
              <div class="actions-btn-wrap bg-light">
                <ul class="actions-btn-list">
                  <li>
                    <a href="javascript:void(0);" class="action-btn-link">
                      <span class="icon-bell"></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="action-btn-link">
                      <span class="icon-calendar"></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="action-btn-link">
                      <span class="icon-circle-question"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="profile-wrapper jsProfileSelect bg-light">
                <div class="profile-inner">
                  <div class="avatar">
                    <img src="assets/images/avatar.svg" alt="">
                  </div>
                  <div class="profile-info">
                    <h6 class="size14 person-name">
                      Mr. Motors
                    </h6>
                    <p class="size10 activity-status">
                      Last Login 22 Feb, 2024, 04:06PM
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- header end -->