
    <div class="overview-top">
        <div class="overview-col overview-left">
            <h5 class="size13 small-heads">
                Overdue Payments
            </h5>
        </div>
        <div class="overview-col overview-right">
            <button class="btn btn-yellow">
                Pay now
            </button>
        </div>
    </div>
    <div class="due-heads-wrap">
        <p class="heading24 price-text">
            <span class="icon-rupee"></span>1,26,340
        </p>
        <p class="size14 due-text text-red">
            <span class="icon-circle-info"></span>
            Overdue by 17 days
        </p>
    </div>
