
    <div class="overview-top">
        <div class="overview-col overview-left">
            <h5 class="size13 small-heads">
                Upcoming Payments
            </h5>
        </div>
        <div class="overview-col overview-right">
            <button class="btn btn-yellow">
                View schedule
            </button>
        </div>
    </div>
    <div class="due-heads-wrap">
        <p class="heading24 price-text">
            <span class="icon-rupee"></span>2,13,132
        </p>
        <p class="gray-text due-text">
            Due in 7 days
        </p>
    </div>
