<div class="channel-wrap close-on-outside">
    <button class="btn btn-toggle jsChannelToggle">Channel Finance</button>
    <div class="channel-outer-wrap d-none jsChannelList">
      <div class="channel-inner">
        <ul class="channel-list jsFinancesList">
          <li class="list">
            <label class="custom-radiobox-label">
              <span class="custom-radio">
                <input type="radio" name="radio1">
                <span class="radiobox-check"></span>
              </span>
              Channel finance
            </label>
          </li>
          <li class="list">
            <label class="custom-radiobox-label">
              <span class="custom-radio">
                <input type="radio" name="radio1">
                <span class="radiobox-check"></span>
              </span>
              Construction finance
            </label>
          </li>
          <li class="list">
            <label class="custom-radiobox-label">
              <span class="custom-radio">
                <input type="radio" name="radio1">
                <span class="radiobox-check"></span>
              </span>
              Equipment finance
            </label>
          </li>
          <li class="list">
            <label class="custom-radiobox-label">
              <span class="custom-radio">
                <input type="radio" name="radio1">
                <span class="radiobox-check"></span>
              </span>
              Construction finance
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>