
    <div class="div-bg limit-overview-wrapper">
      <img src="../../../assets/images/limit-overview-bg.png" class="overview-bg" alt="">
      <div class="overview-top">
        <div class="overview-col overview-left">
          <h5 class="size13 small-heads">
            Limit Overview
          </h5>
        </div>
        <div class="overview-col overview-right">
          <button class="btn btn-yellow">
            View Details
          </button>
        </div>
      </div>
      <div class="image-wrapper">
        <!-- limit overview -->
        <!-- <div id="chart-gauge"></div> -->
        <div class="semi-donut margin" style="--percentage : 80; --fill: #298CFF ;"></div>
      </div>
      <div class="avail-limit-wrap">
        <div class="avail-col">
          <p class="gray-text avail-heads">
            Available Limit
          </p>
          <p class="heading24 price-text">
            <span class="icon-rupee"></span>1,36,30,838
          </p>
        </div>
        <div class="avail-col">
          <p class="gray-text avail-heads">
            Total Limit
          </p>
          <p class="heading24 price-text">
            <span class="icon-rupee"></span>20,34,45,345
          </p>
        </div>
        <div class="avail-col">
          <p class="gray-text avail-heads">
            Corporate Accounts
          </p>
          <p class="heading24 price-text">
            5
          </p>
        </div>
      </div>
    </div>
