<!-- sticky nav starts -->
<div class="sticky-nav-box">
  <div class="container">
    <div class="sticky-nav-inner">
      <ul class="sticky-list-wrap jsStickyList">
        <li class="sticky-list">
          <a routerLink="/dashboard/corporateaccount"  class="sticky-link active " style="cursor: pointer;">
            <span class="icon-category"></span>
            Dashboard
          </a>
        </li>
        <li class="sticky-list">
          <a routerLink="/approverequest" class="sticky-link" style="cursor: pointer;">
            <span class="icon-note"></span>
            Approve request
          </a>
        </li>
        <li class="sticky-list">
          <a routerLink="/transact" class="sticky-link" style="cursor: pointer;">
            <span class="icon-money-send"></span>
            Transact
          </a>
        </li>
        <li class="sticky-list">
          <a routerLink="/trackapplication" class="sticky-link" style="cursor: pointer;">
            <span class="icon-book"></span>
            Track application
          </a>
        </li>
        <li class="sticky-list">
          <a routerLink="/servicerequest" class="sticky-link" style="cursor: pointer;">
            <span class="icon-setting"></span>
            Service request
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
